.trello_card {
	background-color: white;
	padding: 5px;
	border: 1px solid #BBB;
	border-radius: 3px;
	margin-bottom: 5px;
}

.trello_list:first-child {
	margin-left: 0;
}

.trello_list {
	background-color: #D8D8D8;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid gray;
	margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
	.trello_list{
		width: 350px;
		display: block;
		float: left;

		margin-left: 20px;
	}
}


@media screen and (min-width: 640px) {
	.list_container {
		overflow-x: auto;
		overflow-y: hidden;
		width: 4400px;
	}
}